<div class="nested-fields input-group request_params">
  <%= f.text_field :name, class: 'form-control', :placeholder => 'Name' %>
  <span class="input-group-btn" style="width:0px;"></span>
  <%= f.text_field :instance_id, class: 'form-control', :placeholder => 'Instance ID', :style => 'margin-left:-1px' %>
  <span class="input-group-btn">
        <%= link_to_remove_association "Remove", f, :class => 'btn btn-danger', :style => 'margin-left:-2px' %>
  </span>
</div>