<nav class="navbar navbar-default" style="margin-bottom: 0px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'LoadTest Server', root_path, :class => "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>